#hero-coding {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/CodingHero.jpg");
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
    top: 0;
}   